.Chat-feed {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Top-panel {
    background-color: #788B7E; 
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
}

.Top-panel h3 {
    margin: 0;
    position: absolute;
    left: 35%; 
    transform: translateX(-50%); 
}

#Profile-icon {
    color: white;
    font-size: 40px;
}

#Collapse-button {
    color: white;
    position: absolute;
    right: 30%;
    transform: translateX(50%); 
}

#Collapse-icon {
    font-size: 40px;
}

.Messages-container {
    flex: 1;
    background-color: #C3D1C7;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 1% 30%; 
    margin-bottom: 50px
}

.Messages-area {
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    width: 100%; 
}

.Message-box-recipient-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 10px;    
}

.Message-box-recipient {
    background-color: #43A656;
    max-width: 200px; 
    margin: 0;
    padding: 10px; 
    padding-bottom: 0px;
    border-radius: 30px;
    margin-right: auto; 
    word-wrap: break-word; 
}

.Metadata-section-recipient {
    margin-top: 5px; 
    color: #888; 
    text-align: left; 
    font-size: 0.8em; 
}

.Message-box-you-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    margin-bottom: 10px;    
}

.Message-box-you {
    background-color: #43A656;
    max-width: 200px; 
    margin: 0;
    padding: 10px; 
    padding-bottom: 0px;
    border-radius: 30px;
    margin-left: auto; 
    word-wrap: break-word; 
}

.Metadata-section-you {
    margin-top: 5px; 
    color: #888; 
    text-align: right; 
    font-size: 0.8em; 
}

#Message {
    color: white;
}

.Bottom-panel {
    background-color: #788B7E; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    padding: 10px;
}

#AttachFile-icon {
    font-size: 40px;
    margin-left: -10px;
}

#Image-icon {
    font-size: 40px;
    margin-right: -5px;
}

#Send-icon {
    font-size: 40px;
}

#Send-icon:hover {
    color: #24d147;
}

#Chat-input {
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    width: 400px;
}

/* mobile sizing */
@media only screen and (max-width: 768px) {
    .Top-panel h3 {
        margin: 0;
        position: absolute;
        left: 30%; 
        transform: translateX(-50%); 
    }
    
    #Collapse-button {
        color: white;
        position: absolute;
        right: 10%;
        transform: translateX(50%); 
    }

    .Messages-container {
        flex: 1;
        background-color: #C3D1C7;
        display: flex;
        flex-direction: column; 
        justify-content: flex-end; 
        padding: 1% 5%; 
        margin-bottom: 50px
    }

    .Messages-area {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 0 5%; 
    }

    #AttachFile-icon {
        font-size: 30px;
        margin-left: -10px;
    }

    #Image-icon {
        font-size: 30px;
        margin-right: -5px;
    }
    
    #Send-icon {
        font-size: 30px;
    }
    
    #Chat-input {
        border-radius: 30px;
        padding: 5px;
        padding-left: 10px;
        max-width: 230px;
    }
}
