@import '../../global.css';

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  flex-direction: column;
}

#Logo {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.LoginPage-form {
  width: 100%;
  width: fit-content;
  padding: 16px;
  background-color: #545e63;
  border-radius: var(--border-radius);
  border: solid black 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.login-header h1 {
  text-align: center;
  margin-bottom: 16px;
}

.login-form input {
  text-align: center;
  width: 80%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: 18px;
}

#SignUp-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #1976d2;
}

h2 {
  text-align: center;
  margin: 0;
}

.SignInWithGoogle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Divider {
  width: 540px;
  margin-bottom: 15px;
}

.submit-button,
.google-button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
}

.submit-button {
  background-color: #43a656;
  font-size: 18px;
  width: 50%;
  border-radius: var(--border-radius);
}

.google-button {
  background-color: #4285f4;
  width: 240px;
}

.submit-button:hover {
  background-color: #054118;
}

.google-button:hover {
  background-color: #3367d6;
}

@media screen and (max-width: 768px) {
  .LoginPage-form {
    width: 300px;
  }
  .login-form input {
    font-size: 14px;
  }
  .LoginPage #Divider {
    width: 350px;
    margin-bottom: 15px;
  }
}
