.ChatFeedProfilePanel {
  width: 280px;
  background-color: #3a483f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 2;
  position: relative;
  height: 100vh; /* Make sure the panel takes the full height */
}

.ChatFeedProfilePanel-Collapsed {
  display: none;
}

#Profile-picture {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#Display-name {
  color: white;
}

hr {
  background-color: white;
  border: none;
  height: 3px;
}

h2 {
  text-align: left;
  color: white;
  font-size: 20px;
}

.SharedImage {
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.Document {
  color: white;
  text-align: left;
  font-size: 12px;
}

.Bottom-buttons {
  margin-top: auto; /* Push the buttons to the bottom */
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  gap: 10px; /* Add some space between the buttons */
}

#DeleteConversation-button,
#RemoveFriend-button {
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 16px;
}

#DeleteConversation-button {
  background-color: #85b0fe;
  color: white;
}

#RemoveFriend-button {
  background-color: #dd6666;
  color: white;
}
